@import "./../config.scss";

.toolbar {
    background: $main-color;
    color: #fff;
}

.back-button {
    color: #fff;
}

.back-button__icon {
    fill: #fff;
}

.toolbar__title {
    color: #fff;
}

.page__content {
    background-color: #fff;
}

.page__background {
    background-color: #fff;
}

.tabbar {
  position: fixed;
}

.page[status-bar-fill] > .page__content {
  top: 0;
}
